* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    position: relative;
    

}

/*NAV*/
.header {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    margin-bottom: 30px;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 40px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ffbc0e;
}

.header .btn button {
    font-weight: 700;
    color: #121212;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

/* FOOOTER */

footer {
    bottom: 0;
    margin-top: 30px;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: white;
    background-color: #121212;
}

.copyright-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container {
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo {
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info,
.menu-item-footer {
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover {
    opacity: 1;
}

.menu-title {
    font-size: var(--medium-text-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link {
    height: 100%;
    width: 30px;
    background-image: url(../img/FacebookBlanco.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover {
    opacity: 0.7;
}

footer .social-link:nth-of-type(2) {
    background-image: url(../img/InstagramBlanco.png);
}

footer .social-link:nth-of-type(3) {
    /*Nth of type inside that container*/
    background-image: url(../img/TwitterBlanco.png);
}


/*MEDIA QUERY*/
@media (max-width: 768px) {

    .footer-container {
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container {
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1) {
        align-items: flex-start;
    }

    .footer-content-container:nth-of-type(3) {
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1) {
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }

    .footer-menus .footer-content-container:nth-of-type(2) {
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}

.galeria {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria img {
    width: 30%;
    height: 250px;
    margin: 10px;


}

/* SERVICIOS */

.container__servicios {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card {

    width: 40%;
    margin: 20px 0;
    border-radius: 20px;
    background: #c4c4c92e;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    min-width: 400pxq;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
    min-height: 250px;
    max-height: 300px;
    border-radius: 20px 20px 0 0;

}

.contenido {
    padding: 15px;
}

.contenido h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.contenido p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* VIDEOS */

.videos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

}

.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 20px 0;
    min-width: 300px;
}



h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

}

h4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* CONTACTO */
.contacto {
    margin-bottom: 50px;


}

.contacto_titulo {
    text-align: center;
}

.contacto_descripcion {
    text-align: center;
}

.formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    background-color: #000000d1;
    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
}

.form {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.form input {

    text-align: left;
    width: 100%;
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 4px;
}


.texto {
    text-align: center;
    width: 100%;
}

.texto textarea {
    width: 100%;
    text-align: left;
    border-radius: 4px;
    margin-bottom: 4px;
    border: 1px solid;

}

.boton {
    align-content: center;
    justify-content: center;
    display: flex;

}

.btn_enviar {
    border: 3px solid rgba(100, 100, 100, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 255px;
    font-family: poppins;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-size: 300%;
    background-image: linear-gradient(to left, #000000, #050505, #0a0a0a);
}

/* ACERCA DE */
.bio {
    display: flex;
    align-content: center;
    justify-content: center;
}

.bio h1 p img {
    display: flex;
    width: 50%;
}

.bio img {
    height: 430px;
    margin-right: 40px;
}

.bio p {
    margin: 70px;
    margin-top: 60px;
    text-align: center;
}

.bio h1 {
    font-size: 100px;

}